.contact_block {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #043959;
    padding: 20px;
}

.contact_block h1 {
    font-family: first;
    color: rgba(0, 255, 255, 0.509);
    text-shadow: 0 0 50px cyan;
    font-size: 5em;
    margin-top: 60px;
}

.constructor_block {
    width: 90%;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
    background: rgba(255, 255, 255, 0.065);
    margin-top: 20px;
    border-radius: 20px;
    /* border: 1px solid white; */
}

.images {
    width: 350px;
    height: 650px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.195);
    flex-wrap: wrap;
    gap: 20px;
    /* border: 1px solid white; */
}


.info_block {
    width: calc(100% / 2);
    aspect-ratio: 2 / 0.1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    gap: 10px;
    font-size: 1.1em;
    svg{
        font-size: 2.5em;
        color: white;
    }
}

.pickchar {
    width: 400px;
    height: 400px;
    border-radius: 100%;
    border: 15px solid cyan;
    box-shadow: 0 0 50px cyan;
}

.pickchar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100%;
}

.text_contact {
    width: 400px;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
    padding: 20px;
    /* border: 1px solid white; */
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.195);
}

.text_contact p {
    font-size: 1.5em;
    color: white;
}

.text_contact h2{
    color: white;
    font-size: 2em;
}

@media (max-width: 480px) {
    .contact_block {
        width: 100%;
        height: 100%;
        overflow: auto;
    }
  
    .name_page h1 {
      font-size: 40px;
      /* margin-bottom: 15px; */
    }
  
    .constructor_block {
      display: flex;
      flex-direction: column;
      gap: 5px;
      align-items: center;
    }
  
    .images {
      width: 100%;
      height: 400px;
      display: flex;
      padding: 10px;
      gap: 15px;
    }
  
    .info_block {
      width: 200px;
      height: 70px;
      border-radius: 10px;
      text-align: center;
      background-color: #f4f4f4;
      color: black;
      padding: 2px;
    }
  
    .info_block svg {
      /* margin-top: 6px; */
      font-size: 200px;
      color: black;
    }
  
    .info_block h3 {
      font-size: 15px;
    }
  
    .info_block p {
      font-size: 12px;
    }
  
    .pickchar {
        width: 150px;
        height: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 10px solid cyan;

    }

    .pickchar img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  
    .text_contact {
    width: 100%;
    height: 33%;
      padding: 10px;
      text-align: left;
    }
  
    .text_contact h2 {
      font-size: 18px;
      text-align: center;
    }
  
    .text_contact p {
      font-size: 12px;
      /* line-height: 1.5; */
    }
  }
  
